body 
{
	font:12px Tahoma;
	margin:5px 0 0 0;
	background-color:white;
	background-color: #005495;
}

a
{
	font-size: 12px;
}

textarea
{
	width: 98%;
}

img 
{
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	vertical-align: bottom;
	border: 0px;
	
}
.top
{
	background-image:url("iako-logo3.png");
	background-position: left top;
	background-repeat: no-repeat;
	height: 64px;
	margin-left: 20px;
}

.menu
{
	margin-left: 140px;
	padding-top: 30px;
}

.menu ul
{
	margin:0;
	padding:0;
	list-style: none outside;
	height: 30px;
}

.menu li
{
	border: 10px solid white;
	background: white;
	border-radius: 8px 8px 0 0;
	padding-left: 7px;
	padding-right: 7px;
	
	float: left;
	height: 14px;
	margin-left: 5px;
}

.menu li a
{
	margin-bottom: 5px;
	font-size: 12px;
	color: blue;
	text-decoration: underline;
	line-height: 10px;
	font-weight: bold;
}

.messages
{
	border: 1px solid white;
	background: white;
	border-radius: 5px 5px 0 0;
	margin: 0 5px 0 5px;
	padding: 5px 10px 5px 10px;
	display: block;	
}

.main
{
	background: white;
	margin: 0 5px 0 5px;
	padding: 5px 10px 5px 10px;
	display: block;	
}


.block
{
	width: 260px;
	margin: 2px;
	display: inline-table;
	
	border: 1px solid lightblue;
	border-radius: 8px 8px 0 0;
	background: lightblue;
	
}

.block.sites
{
	width: 200px;
}

.block.regions
{
	width: 260px;
}

.block.advs
{
	width: 260px;
}

.block.codes
{
	width: 260px;
}

.block.companyes
{
	width: 260px;
}

.block.adv_list
{
	width: 600px;
}

.col_name
{
	text-align: center;
	height: 45px;
}

.cell
{
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 5px;
}

.cell.add
{
	background-color: #7cd7b9;
}

.cell.defoult
{
	padding-bottom: 12px;
	border-top-style: dotted;
	border-top-width: 1px;
}

.cell.select
{
	background-color: #7cd7b9;
}

.cell.delete
{
	background-color: lightpink;
}

.cell.edit
{
	background-color: #7cd7b9;
}

.cell.link
{
	background-color: lightblue;
	padding-bottom: 12px;
	border-top-style: dotted;
	border-top-width: 1px;
}

.row
{
}

.left_value
{
	//display: table-cell;
	display: inline-table;
	
}

.left_value.top
{
	margin-top: 10px;
}

.left_value.buttons
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.right_value.buttons
{
}


.right_value
{
	//display: table-cell;
	display: inline-table;
	float: right;
	text-align: right;
	background-color: lightgreen;
}

.right_value.red
{
	background-color: #fb6aa6;
	color: white;
	text-align: right;
}

.footer
{
	border: 1px solid lightblue;
	background: white;
	border-radius: 0 0 5px 5px;
	margin: 0 5px 0 5px;
	padding: 5px 10px 5px 10px;
	display: block;
	background: lightblue;
}
